.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container{
  padding:0;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  min-height: 980px;
  position: absolute;
  z-index: 1;
}
.Card{
  margin-top: 15%;
  width:25%;
  border: 1px solid #ffffff;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  margin-left: 37.5%;
  height: 300px;
  background-color: #b3b3ab;
}
.CardHeader{
   margin-top: 0;
   height: 50px;
   background-color: #38383a;
   display: flex;
   justify-content: center;
}
.sidebarContainer{
  margin-left: 0%;
  margin-top: 57px;
  width:200px;
  height: 92%;
  background-color: #38383a;
  position: absolute;
  z-index: 3;
}
.navBarContainer{
  justify-content: center;
  display: flex;
  margin-left: 0%;
  margin-top: 0%;
  width:100%;
  height: 55px;
  background-color: #38383a;
  position: absolute;
  z-index: 3;
  color: #f8f8f9;
}
.ProfileContiner{
  margin-left: 205px;
  background-color: #f8f8f9;
  margin-top: 57px;
  height: 93%;
  width:88%;
  position: absolute;
  z-index: 4;
  display: flex;
}
.Report-1{
  margin-left: 550px;
  margin-top: 55px;
  position: absolute;
}